.row
  #show_story.large-12.columns
    %h3
      = @story.title

    - if @child_stories.any?

      %h4
        Sub-stories

      = div_for @child_stories do |child_story|

        %h5
          = child_story.title

    %h4
      Add Sub-story
      
    = render 'story_stories/form'