#show_story, #stories_index {
  > h4 {
    margin-top: 25px
  }

  > .story {
    background: #f9f9f9;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    position: relative;
    
    a, span {
      vertical-align: middle;
    }

    h5 {
      margin: 0;
    }

    > .large-12 {
      > .row {
        > .columns {
          margin: 0;
          line-height: 1;
          padding-top: 7px;
          padding-bottom: 7px;
        }
      }
    }

    &:nth-of-type(odd) {
      background: #fcfcfc;
    }
  }
}

@import 'stories/*';
